.pp_header {
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    transition: box-shadow 0.3s ease-in-out; /* Плавний перехід тіні */
    background-color: #01b8b50c;
    border: 0;
}

.card:hover {
    box-shadow: 0 0 10px #01b8b59a; /* Тінь при наведенні */
}

.cat-card-title {
    color: #01B8B6;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .mobile-none {
        display: none;
        
    }
    .custom-slider {
        background-color: rgba(128, 128, 128, 0.092);
    }
  }