.form-check-input:checked {
    background-color: #1FADA1;
    border: 0;
  }

.form-checkbox {
    margin-bottom: 25px;
}

.error {
    background-color: rgba(255, 0, 0, 0.069);
    border-radius: 2px;

    
    
}

.st-form-field label {
    color: red; /* Цвет подсветки (красный) */
}

.st-form-field.error label {
    color: red; /* Цвет подсветки (красный) */
}